.hideForm {
    display: none;
    color: red;
}
.showForm {
    color: blue;
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.div {
    display: flex;
    justify-content: flex-end;
}

.addSomethingButton {
    height: 30px;
    width: 100px;
}

/* form {
    padding: 9% 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.div input {
    margin-bottom: 10%;
    padding: 3%;
}

.div textarea {
    margin-bottom: 10%;
    padding: 3%;
    resize: none;
    width: 230px;
    height: 100px;
}

.formClose {
    margin-bottom: 10%;
    margin-left: 85%;
    background-color: transparent;
    border: transparent;
}

.formButton {
    padding: 2%;
    font-size: 1.5rem;
    color: red;
} */