* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}

/*
========== Styling for Home ============
*/

.homeBackground {
	height: 40vh;
	background-image: url('./assets/img/home-background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -650px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeHeading {
	font-size: 7rem;
	font-family: fantasy;
}

.homeArticle a {
	text-decoration: none;
	color: black;
}

.homeImg {
	width: 25rem;
}

.homeArticle {
	padding-top: 12vh;
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.homeDescription {
	font-family: fantasy;
	font-size: 1.9rem;
	font-weight: bolder;
	margin-top: 2%;
}


/*
===== Styling for BIG STUFF, NOT SO BIG STUFF, SMALL STUFF =====
*/

/* .createCardSection {
	padding: 20vh 0 0 20vh;
}

.createCardDiv {
	width: 40%;
	border: 1px solid black;
	display: flex;
	margin-bottom: 2%;
}

.createCardImg {
	width: 60%;
}

.createCardText {
	padding: 4% 0 0 2%;
	display: flex;
	flex-direction: column;
}

.createCardHeading {
	font-family: fantasy;
	font-size: 3rem;
}

.createCardRoom {
	font-size: 1.1rem;
	margin-bottom: 30%;
}

.createCardDescription {
	font-size: 1.5rem;
} */
